@keyframes tracking-in-expand{
    0% { letter-spacing:-.5em;opacity:0 }
    40% { opacity:.6 }
    100% { opacity:1 }
}

.text {
    margin-top: 100px;
    font-size: 24px;
    color: yellow;
    text-align: center;
    text-shadow: 0px 0px 9px yellow;
    animation:tracking-in-expand 1.7s cubic-bezier(.215,.61,.355,1.000) both;
}