:root {
  --color-white: #fff;
  --color-black: #111;
  --color-yellow: #ff0;
  --color-dark-gray: #10100e;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;
  --color-red: #f75d83;

  --spacing-small: 10px;
  --spasing-ultrasmall: 5px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-large2: 30px;

  --margin-list: 7px;

  --font-family-main: sans-serif;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --font-size-header: 26px;
  --font-size-subheader: 18px;


  --width-max: 1200px;

  --transition: .4s;

  --box-shadow-white:
    0 16px 24px 2px rgba(255, 255, 255, 0.02),
    0 6px 30px 5px rgba(255, 255, 255, 0.04),
    0 8px 10px -5px rgba(255, 255, 255, 0.1);

  --box-shadow-black:
    0 16px 24px 2px rgba(0, 0, 0, 0.5),
    0 6px 30px 5px rgba(0, 0, 0, 0.1),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);

  --text-shadow-yellow:
    0 0 2px var(--color-white),
    0 0 40px var(--color-yellow);

  --text-shadow-blue:
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

/*THEME*/
  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-def-header: var(--theme-light-header);

  --theme-light-bg: linear-gradient(to left top, #002866, #1d367e, #354397, #4c52b0, #6460c9);
  --theme-dark-bg: url(../static/bg-dark.jpg);
  --theme-def-bg: var(--theme-light-bg);


}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  background-image: var(--theme-def-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  font-family: var(--font-family-main);
  font-size: 16px;
  color: var(--color-white);
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-def-header);
  transition: color var(--transition);
}
